

.surveyform{
  width: 100%;
}


.input-wrapper {
  /* border: 1px solid #ccc;
  border-radius: 4px; */
  padding: 10px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

.title {
  margin-bottom: 20px;
  color: black;
  text-align: left;
}


.input-wrapper button  {
  width: 100%; 
  border-radius: 4px;
  border: none;
  padding: 20px;
  background-color: lightgrey;
  color: black;
  text-align: left;
  font-size: 23px;
  
}

.input-wrapper button:hover {
  background: black;
  color: white;
}

.commentHeader{
  margin-bottom: 20px;
  color: black;
  text-align: left;
}

.b1{
  align-items: flex-start;
}